nav.projectsNav {
    position: fixed;
    top: 90vh;
    left: 95vw;
    color: #ffffff;
    transition: .25s;
}

.topScrollBtn {
    background-color: var(--main-blue-color);
    color: var(--dark-bg-color);
    text-decoration: bold;
    margin-right: 3.2em;
    margin-bottom: 3.2em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2em;
}

.topScrollBtn:hover {
    cursor: pointer;
}