@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

.nav {
    top: 0;
    left: 0;
    background-color: var(--dark-bg-color);
    display: grid;
    height: 3.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.navbar {
    grid-column: 1/4;
    grid-row: 1;
    max-height: 3.5em;
    align-items: center;
}

.menu-btn {
    border-radius: 20%;
    margin-left: 3em;
    margin-top: .9em;
    align-self: center;
}

.menu-btn:hover {
    cursor: pointer
}

.logo {
    width: 2em;
    height: 2em;
    margin-top: 0
}

svg.menu-btn {
    height: 1.5em;
    width: 1.5em;
}

div.logo {
    grid-column: 4;
    justify-self: center;
    align-self: center;
    font-size: 1.3em;
    color: var(--main-blue-color);
    justify-self: end;
    align-self: center;
    margin-right: 3em;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
}

@media only screen and (max-width : 960px) {
    div.logo {
        grid-column: 3/5;
        grid-row: 1;
    }
}