.contact {
    height: 100%;
    width: 100vw;
    overflow-y: touch;
    padding-bottom: 4em;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1.5fr;
    height: calc(100vh);
}

.h1-container.contact-header {
    grid-row: 1;
    grid-column: 1/5;
    font-size: 1.5em
}


.contact-p {
    color: #FFFFFF;
    grid-row: 2/3;
    grid-column: 1/5;
    font-size: 2em;
    /* border: 1px solid var(--main-blue-color);
    background-color: var(--light-bg-color);
    border-radius: 10%; */
    padding: 1em;
    align-self: center;
    line-height: 2.5em;
    text-align: center;
    height: 100%;
    margin-top: 1em;
}


.icon-container {
    grid-column: 1/5;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    margin-top: 4em
}

.icon {
    width: 5em;
    height: 5em;
    color: #FFFFFF;
    text-align: center
}

svg#google {
    color: royalblue
}

svg#github {
    background: var(--dark-bg-color);
    border-radius: 50%
}

svg#phone {
    color: green;
    background: #FFFFFF;
    border-radius: 15%
}

.phoneNum {
    font-size: .5em
}

@media only screen and (max-width: 576px) {

    .icon {
        width: 3em;
        height: 3em;
        color: #FFFFFF;
        text-align: center
    }

    .contact-p {
        margin-bottom: 2em
    }

}