    .projects {
        width: 100vw;
        height: 100vh
    }


    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr 1.5fr;
        color: #FFFFFF;
        height: calc(100vh - 3em);
    }

    .h1-container.project-header {
        grid-row: 1;
        grid-column: 2/3;
        display: block;
        margin-bottom: 0;
        padding-bottom: 0
    }


    .h1-container.project-header>h1 {
        font-size: 5em;
        margin-bottom: 0;
        margin-top: .3em;
        padding: 0;
    }

    .projects-container>.p {
        grid-row: 2;
        grid-column: 1/4;
        justify-self: center;
        align-self: center;
        background-color: var(--light-bg-color);
        border: 1px solid var(--dark-bg-color);
        padding: 1em;
        border-radius: 10%;
        width: 95vw;
        margin: 0;
        line-height: 1.7em;
        font-size: 1.2em;
    }

    .project-card {
        width: 20em;
        height: 25em;
        background: linear-gradient(var(--light-bg-color), var(--dark-bg-color));
        grid-row: 3;
        grid-column: 1/4;
        justify-content: space-between;
        justify-self: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto;
        border: 1px solid var(--dark-blue-color);
        border-radius: 10%;
        justify-items: center;
    }

    .project-card>h2 {
        border-bottom: 1px solid var(--light-bg-color);
        font-size: 2em
    }

    .project-card>p {
        border-top: 1px solid var(--light-bg-color);
        text-align: center;
        font-size: 1em;
        grid-row: 3;
        padding-left: 1em;
        padding-right: 1em
    }

    hr {
        box-shadow: 1px 2px 3px var(--main-bg-color)
    }

    .todo {
        grid-column: 3;
        justify-content: center
    }

    .robofriends {
        grid-column: 2;
        justify-content: center;
    }

    .mars {
        grid-column: 1;
        justify-content: center
    }

    .thumbnail-container {
        justify-content: center;
    }

    .thumbnail-container:hover {
        transition: .3s ease-in;
        box-shadow: 3px 3px 3px var(--light-blue-color);
        cursor: pointer
    }

    .project-image-todo {
        background-image: url('../images/todoList.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 18em;
        height: 10em;
    }

    .project-image-robofriends {
        background-image: url('../images/robofriends.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 18em;
        height: 10em;
    }

    .project-image-mars {
        background-image: url('../images/mars-rovers.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 18em;
        height: 10em;
    }


    section {
        height: 100vh;
        width: 100vw;
    }


    @media only screen and (max-width : 1500px) {

        .projects {
            height: 100vh;
            width: 100vw;
        }

        .projects-container {
            height: calc(100vh - 3em)
        }

        .h1-container.project-header>h1 {
            font-size: 4em;
        }


        .projects-container>.p {
            grid-row: 2;
            font-size: 1em;
            width: 100vw;
            text-align: center;
            align-content: center;
            justify-content: center;
            line-height: 1.2em;
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0;
            padding-bottom: 0
        }

        .project-card {
            width: 18em;
            height: 18em;
            grid-row: 3;
        }

        .project-card>h2 {
            border-bottom: 1px solid var(--light-bg-color);
            font-size: 1.3em;
        }

        .project-image-todo {
            position: relative;
            width: 18em;
            height: 9em;
        }

        .project-image-robofriends {
            width: 18em;
            height: 9em;
        }

        .project-image-mars {
            width: 18em;
            height: 9em;
        }

        .project-card>p {
            border-top: 1px solid var(--light-bg-color);
            text-align: center;
            font-size: .85em;
            grid-row: 3;
        }

    }

    @media only screen and (max-width : 992px) {
        .projects {
            -webkit-overflow-scrolling: touch;
            height: 100%
        }

        .projects-container {
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            gap: 3em
        }

        .projects-container>.p {
            font-size: 1em;
            text-align: center;
            width: 95vw;
            align-content: center;
            justify-content: center;
            line-height: 1.5em;
        }

        .project-card {
            height: 20em;
            width: 30em;
        }

        .todo {
            grid-column: 1/4;
            grid-row: 5;
            justify-content: center;
        }

        .robofriends {
            grid-column: 1/4;
            grid-row: 4;
            justify-content: center;
        }

        .mars {
            grid-column: 1/4;
            grid-row: 3;
            justify-content: center;
        }
    }


    @media only screen and (max-width : 576px) {

        .projects {
            font-size: 12px;
            width: 100vw;
            height: 100vh;
            -webkit-overflow-scrolling: touch;
        }

        .projects-container {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
        }

        .projects-container>.p {
            font-size: 1.2em;
            line-height: 1.7em;
            width: 95vw
        }


        .project-card {
            width: 100vw;
            height: 18em;
        }

        .project-card>p {
            padding-left: 1em;
            padding-right: 1em
        }

        .project-image-todo {
            width: 100vw;
            height: 11em;
        }

        .project-image-robofriends {
            width: 100vw;
            height: 11em;
        }

        .project-image-mars {
            width: 100vw;
            height: 11em;
        }

        .todo {
            grid-row: 5;
            justify-content: center;
        }

        .robofriends {
            grid-row: 6;
            justify-content: center;
        }

        .mars {
            grid-row: 4;
            justify-content: center
        }

        section.robofriends-container {
            height: 100vh;
        }

        section {
            height: 100vh;
            width: 100vw;
        }

    }