    .projects {
        width: 100vw;
        height: 100%;
    }


    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr 1.5fr;
        color: #FFFFFF;
        height: calc(100vh - 3em);
        margin-bottom: 6em;
    }

    #root>div>div>nav>a>svg {
        width: 2.1em;
        height: 2.1em;
        position: fixed;
        background-color: var(--light-blue-color);
        z-index: 99;
        margin-top: 80vh;
        margin-left: 92vw;
        border-radius: 10%
    }

    #root>div>div>nav>a>svg:hover {
        background-color: var(--main-blue-color);
        cursor: pointer;
    }

    .h1-container.project-header {
        grid-row: 1;
        grid-column: 2/3;
        display: block;
        margin-bottom: 6em;
        padding-bottom: 0;
    }


    .h1-container.project-header>h1 {
        font-size: 7em;
        margin-bottom: .5em;
        margin-top: .5em;
        padding: 0;
    }

    .project-card {
        width: 35em;
        height: 40em;
        background: linear-gradient(var(--light-bg-color), var(--dark-bg-color));
        grid-row: 2;
        grid-column: 1/4;
        justify-content: space-between;
        justify-self: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto;
        border: 1px solid var(--dark-blue-color);
        border-radius: 10%;
        justify-items: center;
    }

    .project-card>h2 {
        border-bottom: 1px solid var(--light-bg-color);
        font-size: 2.2em;
    }

    .project-card>p {
        border-top: 1px solid var(--light-bg-color);
        text-align: center;
        font-size: 1.1em;
        grid-row: 3;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        display: flex;
    }

    .covid {
        grid-column: 3;
        justify-content: center
    }

    .robofriends {
        grid-column: 2;
        justify-content: center;
    }

    .mars {
        grid-column: 1;
        justify-content: center
    }

    .thumbnail-container {
        justify-content: center;
    }

    .thumbnail-container:hover {
        transition: .3s ease-in;
        box-shadow: 3px 3px 3px var(--light-blue-color);
        cursor: pointer
    }

    .project-image-covid {
        background-image: url('../../images/CovidTracker.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 34em;
        height: 24em;
    }

    .project-image-robofriends {
        background-image: url('../../images/robofriends.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 34em;
        height: 24em;
    }

    .project-image-mars {
        background-image: url('../../images/mars-rovers.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 34em;
        height: 24em;
    }


    section {
        height: 100vh;
        width: 100vw;
    }


    @media only screen and (max-width : 1500px) {

        .projects {
            height: 100%;
            width: 100vw;
        }

        .projects-container {
            height: calc(100vh - 3em)
        }

        .h1-container.project-header>h1 {
            font-size: 4em;
            margin-top: .5em;
        }

        .project-card {
            width: 25em;
            height: 25em;
            grid-row: 2;
        }

        .project-card>h2 {
            border-bottom: 1px solid var(--light-bg-color);
            font-size: 2em;
        }

        .project-image-covid {
            position: relative;
            width: 22em;
            height: 11em;
        }

        .project-image-robofriends {
            width: 22em;
            height: 11em;
        }

        .project-image-mars {
            width: 22em;
            height: 11em;
        }

        .project-card>p {
            border-top: 1px solid var(--light-bg-color);
            text-align: center;
            font-size: 1em;
            grid-row: 3;
        }

    }

    @media only screen and (max-width : 1200px) {
        .projects {
            -webkit-overflow-scrolling: touch;
            height: 100%;
        }

        .h1-container.project-header {
            grid-row: 1;
            grid-column: 2/3;
            display: block;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        #root>div>div>nav>a>svg {
            margin-top: 81vh;
            margin-left: 87vw;
            height: 2em;
            width: 2em;
        }

        .projects-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            gap: 3em
        }

        .h1-container.project-header>h1 {
            font-size: 4em;
            margin-top: .5em;
            margin-bottom: 0;
        }

        .project-card {
            height: 25em;
            width: 30em;
        }

        .project-card.covid {
            grid-column: 1/4;
            grid-row: 3;
            justify-content: center;
        }

        .project-card.robofriends {
            grid-column: 1/4;
            grid-row: 4;
            justify-content: center;
        }

        .project-card.mars {
            grid-column: 1/4;
            grid-row: 2;
            justify-content: center;
        }
    }


    @media only screen and (max-width : 576px) {

        .projects {
            /* font-size: 12px; */
            width: 100vw;
        }

        .projects-container {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
            gap: 2em;
            height: 100%;
            width: 100vw;
            margin-bottom: 3em
        }

        .h1-container.project-header>h1 {
            font-size: 4.5em;
            margin-top: .75em;
        }

        .project-card {
            width: 97vw;
            height: 22em;
        }

        .project-card>p {
            padding-left: 1em;
            padding-right: 1em;
            font-size: 1em;
            text-align: center;
            padding-top: .5em
        }

        .project-image-covid {
            width: 96vw;
            height: 10em;
        }

        .project-image-robofriends {
            width: 96vw;
            height: 10em;
        }

        .project-image-mars {
            width: 96vw;
            height: 10em;
        }

        .project-card.covid {
            grid-column: 1/4;
            grid-row: 3;
            justify-content: center;
        }

        .project-card.robofriends {
            grid-column: 1/4;
            grid-row: 4;
            justify-content: center;
        }

        .project-card.mars {
            grid-column: 1/4;
            grid-row: 2;
            justify-content: center;
        }

        section.robofriends-container {
            height: 100vh;
        }

        section {
            height: 100vh;
            width: 100vw;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch
        }

    }